.editsalary-btn{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    height: 70px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-right: 40px;

}